body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 236, 229);
    width: 100vw;
}
#heading{
    text-align: center;
}
.grid-container, #todo-container{
    display: grid;
    grid-template-columns: 4vw 30vw 10vw 10vw;
    gap: 2vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
}
#todo-date, #todo-input{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete, .btn-add{
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-delete{
    background-color: brown;
}
.btn-add{
    background-color: green;
}
@media screen and (max-width: 480px){
    .grid-container, #todo-container{
        grid-template-columns: 4vw 40vw 25vw 20vw;
        gap: 1vh;
        margin-top: 1vw;
    }

    .btn-delete{
        padding: 10px;
    }
}