*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 236, 229);
    width: 100vw;
}
#heading{
    text-align: center;
    margin-top: 18px;
}
.grid-container, #todo-container{
    display: grid;
    grid-template-columns: 4vw 30vw 10vw 8vw;
    gap: 2vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
}
#todo-date, #todo-input{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete, .btn-add{
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-delete{
    background-color: brown;
}
.btn-add{
    background-color: green;
}
@media screen and (max-width: 480px) and (min-width:320px){
    span{
        font-size: 10px;
    }
    .grid-container, #todo-container{
        grid-template-columns: 5vw 40vw 20vw 20vw;
        gap: 0.5vw;
        margin-top: 1vw;
    }
    #todo-date, #todo-input{
        font-size: 12px;
        padding: 8px 3px;
    }
    .btn-delete{
        padding: 8px;
        margin-left: 2vw;
    }
    .btn-add{
        padding: 10px;
        margin-left: 2vw;
    }
}