body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 236, 229);
    width: 100vw;
}
#heading{
    text-align: center;
}
.grid-container, #todo-container{
    display: grid;
    grid-template-columns: 4vw 30vw 10vw 10vw;
    gap: 2vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
}
#todo-date, #todo-input{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete, .btn-add{
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-delete{
    background-color: brown;
}
.btn-add{
    background-color: green;
}
@media screen and (max-width: 480px) {
    .grid-container, #todo-container {
        grid-template-columns: 10vw 1fr 1fr 1fr; /* Adjusted grid columns to give more space to inputs */
        gap: 2vh; /* Increased gap for better spacing */
        margin-top: 1vw;
    }

    #todo-input, #todo-date {
        font-size: 14px;
        padding: 8px; /* Reduced padding for smaller screens */
    }

    .btn-add, .btn-delete {
        padding: 12px; /* Reduced padding for smaller screens */
        font-size: 12px; /* Adjust font size for buttons */
    }
}
