*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(247, 236, 229);
    width: 100vw;
    padding: 5px;
    margin: 0;
}
#heading{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 4vw 40vw 20vw 10vw;
    gap: 2vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
}
#todo-container{
    display: grid;
    grid-template-columns: 4vw 40vw 20vw 4vw 6vw;
    gap: 2vh;
    margin-top: 2vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    word-wrap: break-word;
    max-width: 100%;
}
#todo-date, #todo-input{
    font-size: 15px;
    padding: 10px 5px;
}
.btn-delete, .btn-add{
    padding: 15px;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-edit, .btn-save{
    padding:14px 0px;
    border-radius: 10px;
    border: none;
}
.btn-delete{
    background-color: brown;
}
.btn-edit{
    background-color: #f7d896;
}
.btn-add, .btn-save{
    background-color: green;
}
@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 10vw 30vw 30vw 20vw;
        gap: 1vw;
    }

    span{
        font-size: 13px;
    }

    #heading{
        font-size: 25px;
    }

    #todo-input, #todo-date {
        font-size: 12px;
        padding: 8px;
    }

    .btn-add, .btn-delete {
        padding: 10px;
        font-size: 10px;
    }
    .btn-edit, .btn-save {
        padding: 9px 0px;
        font-size: 10px;
    }
}